{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Proyecto de Aplicaciones Web" />
    <meta name="author" content="Armando Velasquez, Daniela Gonzalez" />
    <title>RECICLAJE</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <a align="center" type="submit" href="/logout" class="btn boton_agregar">Cerrar Sesión</a>
    <section class="lista_datos">
        <h1>LISTA DE CONTACTOS</h1>
        <!--CONTROLADOR 1 - TABLA DE DATOS-->
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <!--INGRESAMOS LAS VARIABLES QUE VAMOS A RECIBIR-->
                    <th scope="col">NOMBRE</th>
                    <th scope="col">CORREO ELECTRONICO</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">MOTIVACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <!--ACCEDEMOS A LA LISTA CON UN FOR-->
                {% for Contacto in lista_contactos %}
                <tr>
                    <!--INERTA nombre y apellido-->
                    <th>{{Contacto.ingreso_nombre + " " + Contacto.ingreso_apellido}}</th>
                    <!--INSERTA EL CORREO ELECTRONICO-->
                    <th>{{Contacto.ingreso_correo}}</th>
                    <!--INSERTA LA PRIORIDAD DE LA TAREA-->
                    <th>{{Contacto.ingreso_telefono}}</th>
                    <!--BOTON PARA ELIMINAR LA FILA-->
                    <th>{{Contacto.ingreso_motivacion}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--BOTON BORRAR TODOS LOS CAMPOS DE LA TABLA-->
        <form action="{{url_for('borrar')}}" method="post" class="card-body">
            <button type="submit" class="btn boton_eliminar">BORRAR</button>
        </form>
    </section>

    <section class="lista_datos">
        <h1>LISTA DE SUGERENCIAS</h1>
        <!--CONTROLADOR 1 - TABLA DE DATOS-->
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <!--INGRESAMOS LAS VARIABLES QUE VAMOS A RECIBIR-->
                    <th scope="col">NOMBRE</th>
                    <th scope="col">CORREO ELECTRONICO</th>
                    <th scope="col">SUGERENCIA</th>
                </tr>
            </thead>
            <tbody>
                <!--ACCEDEMOS A LA LISTA CON UN FOR-->
                {% for Sugerencia in lista_sugerencias %}
                <tr>
                    <!--INERTA nombre y apellido-->
                    <th>{{Sugerencia.ingreso_nombres}}</th>
                    <!--INSERTA EL CORREO ELECTRONICO-->
                    <th>{{Sugerencia.ingreso_correo_S}}</th>
                    <!--INSERTA LA PRIORIDAD DE LA TAREA-->
                    <th>{{Sugerencia.sugerencias}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--BOTON BORRAR TODOS LOS CAMPOS DE LA TABLA-->
        <form action="{{url_for('borrar2')}}" method="post" class="card-body">
            <button type="submit" class="btn boton_eliminar">BORRAR</button>
        </form>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>

{% endblock %}