{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Proyecto de Aplicaciones Web" />
    <meta name="author" content="Armando Velasquez, Daniela Gonzalez" />
    <title>RECICLAJE</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- Masthead-->
    <header class="masthead"
        style="background-image: url('https://www.jll.es/images/global/treant-and-insights/es-cities-noah-buscher.jpg')">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-25">
                    <div class="text-center text-white">
                        <!-- Page heading-->
                        <div class="container">
                            <div class="row">
                                <h1 class="mb-5">Reciclaje y reutilización de plásticos.</h1>
                                <div class="col-lg">
                                    <p class="lead mb-2">La recolección y el procesamiento de desechos de papel y
                                        cartón, vidrio o plástico supone crear nuevos productos basados en esos mismos
                                        materiales. Una nueva oportunidad para la Tierra, a la que se puede proteger si
                                        se entienden los beneficios del reciclaje, la manera correcta separar los
                                        residuos y los retos a los que se enfrenta esta actividad en los próximos años.
                                    </p>
                                </div>
                                <div class="col-lg">
                                    <p class="lead mb-2">El plástico es uno de los materiales más populares y más
                                        utilizados en el mundo moderno. Sin embargo, su popularidad es parte de
                                        un gran problema y es también la razón por la cual los plásticos deben
                                        reciclarse de forma más rigurosa.</p>
                                    <p class="lead mb-2">En lugar de tirarlos en la calle, tierra o en el agua, podemos
                                        optimizar su vida útil reciclándolos y reutilizándolos.</p>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"><a href="/reciclaje"
                                    class="text-center text-white">Más información</a>
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Image Showcases-->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-3">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                    style="background-image: url('https://bolsasocial.com/files/pitch/project396/61faa1aed8ef92.88977568.jpg')">
                </div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Los inesperados pilares acústicos del reciclaje</h2>
                    <p class="lead mb-0">El sistema es efectivo, pero las máquinas deben estar enchufadas eléctricamente
                        y solo aceptan una pequeña parte de los envases», cuenta el emprendedor. Es por ello que el
                        equipo de la firma creó una tecnología patentada a nivel internacional que identifica el tipo
                        de recipiente gracias a su sonido...</p>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-lg-6 text-white showcase-img"
                    style="background-image: url('https://economipedia.com/wp-content/uploads/basura-electr%C3%B3nica-y-econom%C3%ADa-circular-1.jpg')">
                </div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Un pulmón económico en la montaña de basura tecnológica</h2>
                    <p class="lead mb-0">Después de su reutilización (dar una segunda vida a los aparatos electrónicos)
                        y de su recuperación (de piezas que todavía funcionen), el reciclaje es el último paso. Que
                        ahora se pone en valor. De hecho, el informe de la ONU señala que recuperar las materias primas
                        que contienen los aparatos electrónicos para fabricar nuevos dispositivos...</p>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-lg-6 order-lg-2 text-white showcase-img"
                    style="background-image: url('https://static1.abc.es/media/motor/2022/01/13/aceite-coche-U13472512414YUC-1200x630@abc.jpg')">
                </div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Cómo reciclar el aceite y los recambios usados del coche</h2>
                    <p class="lead mb-0">Los puntos limpios de reciclaje que se pueden encontrar en prácticamente todas
                        las localidades son otro de los lugares a los que los conductores pueden acudir con sus piezas
                        usadas más pequeñas como es el caso de baterías o filtros de aceite. Estos se encargan de
                        entregarlos en las plantas de residuos para que procedan a su reciclaje, reutilización o
                        eliminación definitiva...</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action-->
    <section class="call-to-action text-white text-center" id="signup"
        style="background-image: url('https://www.jll.es/images/global/treant-and-insights/es-cities-noah-buscher.jpg')">
        <div class="container position-relative">
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
<style>
    .navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navigation ul li {
        display: inline-block;
        text-decoration: none;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .navigation ul li a:hover {
        background: #4D8740;
        transition-duration: 0.7ms;
        color: white;
    }

    .navigation a {
        color: rgb(41, 39, 39);
        text-decoration: none;
    }
</style>

</html>

{% endblock %}