{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Proyecto de Aplicaciones Web" />
    <meta name="author" content="Armando Velasquez, Daniela Gonzalez" />
    <title>RECICLAJE</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Masthead-->
    <header>
        <div class="row justify-content-center">
            <div class="col-xl-25">
                <div class="text-center text-black">
                    <!-- Page heading-->
                    <div class="container">
                        <div class="row">
                            <h1>&nbsp;</h1>
                            <h1 class="mb-5">Protección Medioambiental</h1>
                            <div class="col-lg">
                                <p class="lead mb-2">La protección del medio ambiente es la regla fundamental que debe
                                    cumplir todo ser vivo que permanece en el entorno natural; pues es el medio en el
                                    que se establece, se desarrolla; se reproduce y muere. Al incumplir este aspecto; la
                                    calidad de la naturaleza se ve comprometida, dirigiéndose hacia el deterioro y a la
                                    disminución de sus bienes naturales.
                                </p>
                            </div>
                            <h1>&nbsp;</h1>
                            <h2 class="mb-5">¿Qué es la protección del medio ambiente?</h2>
                            <div class="col-lg">
                                <p class="lead mb-2">La protección del medio ambiente no es más que mantener la visión
                                    de un entorno ideal, teniendo en cuenta todas las medidas y propuestas que se deben
                                    hacer para conservar la vida humana, así como la vida de la flora y la fauna, pues
                                    la protección abarca a todo lo que nos rodea desde el clima, hasta las plantas, los
                                    animales e incluso los aspectos socioculturales que son parte de todo nuestro
                                    ambiente.
                                </p>
                                <p class="lead mb-2">Por su parte, son los recursos naturales, los principales
                                    patrimonios que todo ecosistema contiene y que han persistido a lo largo de la
                                    existencia del planeta; sirviendo así para cubrir nuestros requerimientos de
                                    alimentación, vivienda, energía y también otros aspectos como vestidos y objetos de
                                    uso diario.</p>
                            </div>
                            <h1>&nbsp;</h1>
                            <h2 class="mb-5">¿Por qué es importante proteger el medio ambiente?</h2>
                            <div class="col-lg">
                                <p class="lead mb-2">Mantener una constante protección del medio ambiente; no solo
                                    garantiza la larga vida para todas las especies que en él habitan, sino que también
                                    asegura el bienestar de las generaciones futuras en cada una de ellas, por lo que se
                                    hace interesante hacer de esto; un hábito que en lugar de deteriorar se traduzca en
                                    mejorar las condiciones día a día.
                                </p>
                                <p class="lead mb-2">La protección de la naturaleza como un entorno de vida para todos
                                    los seres vivos; significa mantener el máximo miramiento con la vegetación, así como
                                    en la fauna y en todos los hábitats.</p>
                            </div>
                            <h1>&nbsp;</h1>
                            <h2 class="mb-5">La responsabilidad como principal protección de la naturaleza</h2>
                            <div class="col-lg">
                                <p class="lead mb-2">Al cuidado del medio ambiente, se asocia lo que es la
                                    responsabilidad ambiental, orientada directamente a asegurar de forma constante los
                                    provechos que la naturaleza nos ofrece; dentro de los que se incluyen los bienes
                                    naturales, las especies animales; la flora y con ello la diversidad paisajística.
                                </p>
                            </div>
                            <div class="col-lg">
                                <p class="lead mb-2">Tener una máxima protección del medio que nos rodea y los medios
                                    necesarios para preservarlo, es el objetivo final de todos los días que nos
                                    enfrentamos ante situaciones que podrían deteriorarlo si se hacen con frecuencia.
                                </p>
                            </div>
                            <h1>&nbsp;</h1>
                            <h2 class="mb-5">¿Cómo ayudar con la preservación o protección ambiental?</h2>
                            <h4>El método principal para comenzar a proteger todas las áreas naturales yace en la
                                ecología, el estudio completo que relaciona los seres vivos entre sí y con el medio
                                ambiente.</h4>
                            <h1>&nbsp;</h1>
                            <div class="col-lg">
                                <p class="lead mb-2">La ecología, por sí misma debe estar organizada en una forma
                                    interdisciplinaria, compenetrándose a la misma vez con la biología como bioecología,
                                    con la geografía del paisaje y con la economía medioambiental, participando con la
                                    unión de todas sus áreas y dedicándose a la protección del ambiente de forma
                                    sectorial.
                                </p>
                            </div>
                            <div class="col-lg">
                                <p class="lead mb-2">Todos los conocimientos dirigidos hacia la protección del medio
                                    ambiente; se centran en tratarlo como un ecosistema en el que se enlazan todas
                                    las áreas por separadas, con el fin de hacer uno a otro dependiente y así poder
                                    mejorar todos los aspectos que dirigirán al ambiente como un hábitat ideal a lo
                                    largo del tiempo.</p>
                                <h1>&nbsp;</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </header>
    <!-- Call to Action-->
    <section class="call-to-action text-white text-center" id="signup"
        style="background-image: url('https://www.jll.es/images/global/treant-and-insights/es-cities-noah-buscher.jpg')">
        <div class="container position-relative">
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
<style>
    .navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .navigation ul li {
        display: inline-block;
        text-decoration: none;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .navigation ul li a:hover {
        background: #4D8740;
        transition-duration: 0.7ms;
        color: white;
    }

    .navigation a {
        color: rgb(41, 39, 39);
        text-decoration: none;
    }
</style>

</html>

{% endblock %}